In [1]:
"""
Improve on this: 
- with OOP
- make column names a list that gets passed to a table_maker string function
    - def table_maker (var_name, type_size, null_value, primary_key, auto_inc)
- db_change()
- table_exist()
- table_create()
"""

'\nImprove on this: \n- with OOP\n- make column names a list that gets passed to a table_maker string function\n    - def table_maker (var_name, type_size, null_value, primary_key, auto_inc)\n- db_change()\n- table_exist()\n- table_create()\n'

In [2]:

import mysql.connector
from mysql.connector import errorcode
from ephyspy import mysql_manager 
import configparser

In [4]:
config = configparser.ConfigParser()
config.read('sg_config.ini')
DB_NAME = config.get('connections', 'DB_NAME')
USER_NAME = config.get('connections', 'DB_USER')
PWD = config.get('connections', 'DB_PWD')
HOST_NAME = config.get('connections','DB_HOST')
PORT = config.get('connections', 'DB_PORT')

In [59]:
cnx = mysql.connector.connect(user = USER_NAME, 
    password = PWD, host = HOST_NAME, database = DB_NAME, 
    port = PORT)
cursor = cnx.cursor(buffered = True)

In [60]:
mysql_manager.locate_database(cursor, DB_NAME)

Data base haleygee_olive  is alive.

In [36]:
cursor.execute("SHOW TABLES")

In [27]:
sql = """create table hero(id int auto_increment primary key,
        name varchar(20) not null unique,
        skill varchar(20) not null) engine=innodb default charset=utf8;"""
cursor.execute(sql)

In [34]:
fields = ['id','file_id','strain', 'cell','conc_nmda', 'ctr_2to8hz_peak','nmda_2to8hz_peak','pchange_2to8hz_peak',
          'ctr_2to8hz_mean','nmda_2to8hz_mean','pchange_2to8hz_mean','ctr_3to6hz_peak','nmda_3to6hz_peak',
          'pchange_3to6hz_peak','ctr_3to6hz_mean','nmda_3to6hz_mean','pchange_3to6hz_mean']
sizes = ['int auto_increment primary key', 'varchar (100)','varchar(50)','int','int','float','float','float','float','float','float','float','float',
         'float','float','float','float']

sql = "CREATE TABLE fft ("
i = 0
for field in fields:
    if i == 0:
        sql = sql + field + ' ' + sizes[i]
    else:
        sql = sql + ', ' + field + ' ' + sizes[i]
    i = i + 1
sql = sql + ') engine=innodb default charset=utf8;'

print (sql)

cursor.execute(sql)
cnx.commit()

CREATE TABLE fft (id int auto_increment primary key, file_id varchar (100), strain varchar(50), cell int, conc_nmda int, ctr_2to8hz_peak float, nmda_2to8hz_peak float, pchange_2to8hz_peak float, ctr_2to8hz_mean float, nmda_2to8hz_mean float, pchange_2to8hz_mean float, ctr_3to6hz_peak float, nmda_3to6hz_peak float, pchange_3to6hz_peak float, ctr_3to6hz_mean float, nmda_3to6hz_mean float, pchange_3to6hz_mean float) engine=innodb default charset=utf8;

ProgrammingError: 1050 (42S01): Table 'fft' already exists

In [58]:
sql = "SELECT * FROM fft"
cursor.execute(sql)
list1 = cursor.fetchall()
print(list1)

[(1, 'file_004', 'strain', 1, 5, 42.0, 54.0, 123.0, 54.0, 0.42, 0.42, 0.21, 0.12, 0.001, 0.24, 0.42, 145.0)]

In [51]:
fields = ['file_id',
          'strain', 
          'cell',
          'conc_nmda', 
          'ctr_2to8hz_peak',
          'nmda_2to8hz_peak',
          'pchange_2to8hz_peak',
          'ctr_2to8hz_mean',
          'nmda_2to8hz_mean',
          'pchange_2to8hz_mean',
          'ctr_3to6hz_peak',
          'nmda_3to6hz_peak',
          'pchange_3to6hz_peak',
          'ctr_3to6hz_mean',
          'nmda_3to6hz_mean',
          'pchange_3to6hz_mean']
data = ['file_004',
        'strain', 
        1, 
        5, 
        42, 
        54, 
        123, 
        54, 
        0.42, 
        0.42, 
        0.21,
        0.12, 
        0.001, 
        0.24,
        0.42,
        145]

sql = "INSERT INTO fft ("+ ','.join(fields) + ') VALUES (' + ','.join(['%s']*len(fields)) + ')'
print (sql)
cursor.execute(sql, data)
cnx.commit()

INSERT INTO fft (file_id,strain,cell,conc_nmda,ctr_2to8hz_peak,nmda_2to8hz_peak,pchange_2to8hz_peak,ctr_2to8hz_mean,nmda_2to8hz_mean,pchange_2to8hz_mean,ctr_3to6hz_peak,nmda_3to6hz_peak,pchange_3to6hz_peak,ctr_3to6hz_mean,nmda_3to6hz_mean,pchange_3to6hz_mean) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)

AttributeError: 'MySQLCursorBuffered' object has no attribute 'commit'

In [52]:
cnx.commit()

In [61]:

sql = "DELETE FROM fft WHERE id=1"
cursor.execute(sql)
cnx.commit()

In [ ]:
cnx.close()